<!DOCTYPE html>
<html>
<head>
    <title>Login - GrievanceAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="page-center">
<div class="card">

<h1>Login - GrievanceAI</h1>

<form method="POST">

<input type="text" name="name" placeholder="Name" required>

<!-- EMAIL -->
        <input type="email" name="email" placeholder="Email" required>


<input type="tel" name="phone"
       placeholder="Enter 10-digit number"
       pattern="[0-9]{10}" maxlength="10" required
       oninput="this.value=this.value.replace(/[^0-9]/g,'').slice(0,10)">

<button>Login</button>

</form>

<a href="/signup">Create account</a>

</div>
</div>



</body>
</html>